@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #fdf9f3;
  width: 100vw;
  overflow-x: hidden;
}

body.open {
  height: 100vh;
  overflow: hidden;
}

::-moz-selection {
  background: rgba(194, 156, 29, 0.25);
}

::selection {
  background: rgba(194, 156, 29, 0.25);
}

.page-heading {
  font-family: lust, serif;
  font-weight: 400;
  font-style: normal;
  color: #c29c1d;
  text-shadow: 1px 1px #7c630e;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-size: 15.5vw;
  line-height: 20vw;
}

.shadow {
  mix-blend-mode: darken;
}

.sub-heading,
.nav-link,
.option {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.text,
.caption,
button {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #828282;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

@media screen and (min-width: 800px) {
  .page-heading {
    font-size: 4.5rem;
    line-height: 5.4rem;
  }
  .sub-heading,
  .nav-link,
  .text,
  .caption,
  .option,
  button {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1400px) {
  .page-heading {
    font-size: 4.5rem;
    line-height: 5.4rem;
  }
  .sub-heading,
  .nav-link,
  .text,
  .caption,
  .option,
  button {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

@media screen and (min-width: 1900px) {
  .page-heading {
    font-size: 8rem;
    line-height: 10.67rem;
  }
}

@media screen and (min-width: 2500px) {
  .page-heading {
    font-size: 12rem;
    line-height: 16rem;
  }
  .sub-heading,
  .nav-link,
  .text,
  .caption,
  .option,
  button {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}

.navigation {
  z-index: 10;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  background-color: #fdf9f3;
}

.navigation.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-links {
  height: 100%;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  width: 60%;
  text-align: right;
}

.nav-link a {
  text-decoration: none;
  color: #3d3d3d;
}

.nav-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0.5rem;
  background-color: rgba(130, 130, 130, 0.3);
  left: 0;
  bottom: -1rem;
}

.nav-link.active:after {
  background-color: rgba(194, 156, 29, 0.5);
}

.photo-slide,
.bakery-slide {
  display: none;
}

.slide {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.slide.home {
  overflow-y: hidden;
}

.no-min {
  min-height: 0;
  padding-bottom: calc(20vh - 7rem) !important;
}

.home {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  padding: 0rem 5% 0rem 5%;
  overflow-x: hidden;
}

.home .heading {
  padding-top: 3rem;
  position: relative;
  overflow-y: hidden;
}

.home .heading .bg-img {
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  background-image: url(../graphics/square-bg.svg);
  background-repeat: repeat;
  background-position: bottom right;
  background-size: 125%;
  width: 100%;
  height: 100%;
  top: -25%;
}

@media screen and (min-width: 1300px) {
  .home .heading .bg-img {
    background-size: 100%;
    top: -34%;
  }
}

.home .text-bg-img {
  z-index: -1;
  position: absolute;
  background-color: rgba(61, 61, 61, 0.05);
  width: 100%;
  padding-top: 100%;
  left: 30%;
  top: 25%;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  border-radius: 16px;
}

.home .page-text {
  position: relative;
}

.home .page-text .text-bg-img {
  display: none;
}

.buttons {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class^="button-"] {
  width: 80vw;
  height: 16vw;
  max-width: 20rem;
  max-height: 4rem;
  margin: 1rem 0;
  border-radius: 50px;
  color: #fdf9f3;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 6px rgba(61, 61, 61, 0.4);
          box-shadow: 0px 1px 6px rgba(61, 61, 61, 0.4);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

[class^="button-"]:hover {
  -webkit-box-shadow: 0px 5px 6px rgba(61, 61, 61, 0.4);
          box-shadow: 0px 5px 6px rgba(61, 61, 61, 0.4);
  z-index: 5;
}

@media screen and (max-width: 1400px) {
  [class^="button-"] {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

@media screen and (min-width: 2000px) {
  [class^="button-"] {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}

[class*="green"] {
  background-color: #1febba;
}

[class*="gold"] {
  background-color: #c29c1d;
}

[class*="gray"] {
  background-color: #3d3d3d;
}

.hamburger {
  display: block;
  position: fixed;
  cursor: pointer;
  z-index: 15;
  width: 15vw;
  height: 15vw;
  max-width: 4rem;
  max-height: 4rem;
  right: 10vw;
  bottom: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c29c1d;
  border-radius: 50%;
  mix-blend-mode: exclusion;
}

.hamburger .line {
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background-color: #fdf9f3;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.hamburger.open .line:first-of-type {
  -webkit-transform: translateY(1rem) rotate(45deg);
          transform: translateY(1rem) rotate(45deg);
}

.hamburger.open .line:nth-of-type(2) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.hamburger.open .line:last-of-type {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}

@media screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .hamburger {
    display: none;
  }
  .navigation {
    background: transparent;
    position: absolute;
    z-index: 10;
    width: 80%;
    height: 2rem;
    left: 10%;
    padding: 2rem 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .nav-link {
    text-align: center;
  }
  .nav-link:after {
    height: 2px;
    width: 0%;
    left: 50%;
    bottom: -0.5rem;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .nav-link.active a {
    color: #c29c1d;
  }
  .nav-link.active:after {
    background-color: rgba(194, 156, 29, 0.5);
    left: 37.5%;
    width: 25%;
  }
  .nav-link:hover:after {
    left: 37.5%;
    opacity: 1;
    width: 25%;
  }
  .home {
    padding-top: 20vh;
    padding: 15vh 10% 0 10%;
    overflow-x: visible;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
        grid-template-areas: "title text";
  }
  .home .text-bg-img {
    display: none;
  }
  .home .heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    z-index: 3;
  }
  .home .page-text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    padding-top: 10.67rem;
    width: 80%;
    margin: 0 auto;
  }
  .home .page-text .text-bg-img {
    display: block;
    width: 130%;
    padding-top: 130%;
    top: -10%;
    left: -10%;
  }
}

@media screen and (min-width: 800px) and (orientation: portrait) and (min-width: 800px) {
  .home .page-text {
    padding-top: 10rem;
  }
  .home .page-text .text-bg-img {
    display: block;
    width: 250%;
    padding-top: 250%;
    top: 6%;
    left: -10%;
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) and (max-width: 1400px) {
  .home .page-text {
    padding-top: 5.4rem;
  }
}

@media screen and (min-width: 800px) and (min-width: 1900px) {
  .home .page-text {
    padding-top: 10.67rem;
  }
}

@media screen and (min-width: 800px) and (min-width: 2500px) {
  .home .page-text {
    padding-top: 16rem;
  }
}

@media screen and (min-width: 800px) and (orientation: portrait) and (min-width: 800px) {
  .home {
    padding: 15vh 5% 0 5%;
    -ms-grid-columns: 4fr, 5fr;
        grid-template-columns: 4fr, 5fr;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 800px) {
  .photo-slide {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    z-index: 2;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
        grid-template-areas: "blank text";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(https://source.unsplash.com/random/1920x1080);
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 800px) and (orientation: portrait) and (min-width: 800px) {
  .photo-slide {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .bakery-slide {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    z-index: 2;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
        grid-template-areas: "blank text";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(https://source.unsplash.com/random/2560x1440);
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 800px) and (orientation: portrait) and (min-width: 800px) {
  .bakery-slide {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .slide-in {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 25;
  /* Sit on top */
  padding-top: 5rem;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  /* Modal Content (Image) */
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  /* The Close Button */
}

.modal .modal-content {
  margin: auto;
  display: block;
  width: 60vw;
  padding-top: 80vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 850px) {
  .modal .modal-content {
    width: 100vw;
    padding-top: 100vw;
  }
}

.modal .caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.modal .modal-content,
.modal .caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 4rem;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .close:hover,
.modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 90%;
  list-style: none;
  margin: 0 auto;
  padding: 3rem 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 35vh;
}

.image-gallery figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.image-gallery li {
  width: 100%;
  height: 100%;
}

.image-gallery li:first-child {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.image-gallery li:nth-child(2n + 1) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

@media (min-width: 650px) {
  .image-gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
  .image-gallery li:first-child {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-row: span 2;
        grid-row-start: span 2;
  }
  .image-gallery li:nth-child(3n) {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media (min-width: 910px) {
  .image-gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
  }
}

@media (min-width: 1600px) {
  .image-gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.gallery-navigation {
  width: 80%;
  margin: 0 auto;
}

.nav-options {
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-options .option {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
}

.nav-options .option:after {
  content: "▾";
}

.nav-options .option:before {
  position: absolute;
  content: "";
  background-color: rgba(130, 130, 130, 0.3);
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: 0rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-options .option.showing {
  color: #c29c1d;
}

.nav-options .option.showing:before {
  background-color: rgba(194, 156, 29, 0.5);
  left: 37.5%;
  width: 25%;
}

.nav-options .option:hover:before {
  left: 37.5%;
  opacity: 1;
  width: 25%;
}

@media (min-width: 910px) {
  .nav-options .option {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 1300px) {
  .nav-options .option {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    bottom: -0.5rem;
  }
}

@media (min-width: 910px) {
  .nav-options {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .nav-options {
    width: 100%;
  }
}

.contact-picture {
  min-height: 60vh;
  width: 100%;
  max-width: 1000px;
  border-radius: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 750px) {
  .contact-picture {
    width: 90%;
  }
}

@media screen and (orientation: landscape) and (min-width: 1000px) {
  .contact-picture {
    height: 100%;
    min-height: 500px;
    width: auto;
    border-radius: 5px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.contact-form {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 5%;
  background-color: rgba(130, 130, 130, 0.05);
  border-radius: 8px;
}

.contact-form h1 {
  color: #c29c1d;
  font-size: 2rem;
}

@media (min-width: 2000px) {
  .contact-form h1 {
    font-size: 2.8rem;
  }
}

.contact-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
  font-family: lust, serif;
  font-size: 1.1em;
}

.contact-form .form-field label {
  margin: 1em 0;
  color: #c29c1d;
}

@media (min-width: 2000px) {
  .contact-form .form-field {
    font-size: 1.4em;
  }
}

.contact-form .form-field input,
.contact-form .form-field textarea {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  position: relative;
  background-color: transparent;
  color: #828282;
  border: none;
}

.contact-form .form-field input::-webkit-input-placeholder,
.contact-form .form-field textarea::-webkit-input-placeholder {
  font-size: 1.1em;
  opacity: 0.9;
  color: #828282;
}

.contact-form .form-field input:-ms-input-placeholder,
.contact-form .form-field textarea:-ms-input-placeholder {
  font-size: 1.1em;
  opacity: 0.9;
  color: #828282;
}

.contact-form .form-field input::-ms-input-placeholder,
.contact-form .form-field textarea::-ms-input-placeholder {
  font-size: 1.1em;
  opacity: 0.9;
  color: #828282;
}

.contact-form .form-field input::placeholder,
.contact-form .form-field textarea::placeholder {
  font-size: 1.1em;
  opacity: 0.9;
  color: #828282;
}

@media (min-width: 2000px) {
  .contact-form .form-field input::-webkit-input-placeholder,
  .contact-form .form-field textarea::-webkit-input-placeholder {
    font-size: 1.4em;
  }
  .contact-form .form-field input:-ms-input-placeholder,
  .contact-form .form-field textarea:-ms-input-placeholder {
    font-size: 1.4em;
  }
  .contact-form .form-field input::-ms-input-placeholder,
  .contact-form .form-field textarea::-ms-input-placeholder {
    font-size: 1.4em;
  }
  .contact-form .form-field input::placeholder,
  .contact-form .form-field textarea::placeholder {
    font-size: 1.4em;
  }
}

.contact-form .form-field input:-webkit-autofill,
.contact-form .form-field input:-webkit-autofill:hover,
.contact-form .form-field input:-webkit-autofill:focus,
.contact-form .form-field textarea:-webkit-autofill,
.contact-form .form-field textarea:-webkit-autofill:hover,
.contact-form .form-field textarea:-webkit-autofill:focus,
.contact-form .form-field select:-webkit-autofill,
.contact-form .form-field select:-webkit-autofill:hover,
.contact-form .form-field select:-webkit-autofill:focus {
  border-radius: 3px;
  border: 1px solid #c29c1d;
  -webkit-text-fill-color: #c29c1d;
  box-shadow: 0 0 0px 1000px rgba(194, 156, 29, 0.25) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgba(194, 156, 29, 0.25) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-form .form-field input {
  border-radius: 0px;
  padding: 0.5em;
  border-bottom: 2px solid rgba(194, 156, 29, 0.7);
}

.contact-form .form-field input:focus {
  border: 2px solid #c29c1d;
  outline: 1px solid #c29c1d;
}

.contact-form .form-field textarea {
  padding: 0.5em;
  border-radius: 3px;
  border: 2px solid rgba(194, 156, 29, 0.7);
  text-align: justify;
  line-height: 1.4;
}

.contact-form .form-field textarea:focus {
  border: 3px solid #c29c1d;
  outline: 1px solid #c29c1d;
}

.contact-form button {
  width: 80vw;
  height: 16vw;
  max-width: 20rem;
  max-height: 4rem;
  margin: 1rem auto;
  background-color: #c29c1d;
  border-radius: 50px;
  color: #fdf9f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 6px rgba(61, 61, 61, 0.4);
          box-shadow: 0px 1px 6px rgba(61, 61, 61, 0.4);
  border: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.contact-form button:hover {
  -webkit-box-shadow: 0px 5px 6px rgba(61, 61, 61, 0.4);
          box-shadow: 0px 5px 6px rgba(61, 61, 61, 0.4);
  z-index: 5;
}

@media screen and (min-width: 750px) {
  .contact-form {
    width: 80%;
  }
}

.anim {
  opacity: 0;
}

@-webkit-keyframes anim-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anim-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes anim-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3vh);
            transform: translateY(-3vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anim-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3vh);
            transform: translateY(-3vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes anim-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-5vh);
            transform: translateX(-5vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-5vh);
            transform: translateX(-5vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes anim-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(5vh);
            transform: translateX(5vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(5vh);
            transform: translateX(5vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */